<div id="lead-text" class="clearfix">

    <span class="lead-line">How about using simple social network</span>
    <span class="lead-line">and start interacting with your friends, family and business partners</span>
    <span class="lead-line">at a time.</span>
    <span class="lead-line">Here you can interact with everyone around you, and with new friends. Also if you want to share your clicks and videos, this is the right place for you.</span>
    <span class="lead-line">Also, what if you want a professional carrier, then yes here we also allow you to get interact with Business guys, and you can share your documents and portfolios with them.</span>
    <span class="lead-line">Who is getting bored at home, and want to know which firends are near to them, then this is the right place to search</span>
    <a class="startRegister">
        <span class="cta">Start a new life here with us.</span>
    </a>

</div>